$brand-primary: #e40038;

.toolbar {
  display: flex;
  vertical-align: middle;
  padding: 1rem;
  background: linear-gradient($brand-primary, darken($brand-primary, 15%));
  border-bottom: 1px solid darken($brand-primary, 20%);
  color: white;
  .buttons {
    flex: 1 0 0;
    align-self: center;
    .sort {
      vertical-align: middle;
      .group-label {
        font-weight: bold;
        opacity: 0.75;
      }
      .item {
        padding-left: 0.5rem;
        opacity: 0.5;
        cursor: pointer;
      }
      .active {
        opacity: 1;
        cursor: default;
      }
    }
    .fas {
      padding-right: 1rem;
      vertical-align: middle;
      font-size: 150%;
      cursor: pointer;
    }
  }
  .filter {
    border-radius: 4rem;
    padding: 0.2rem 0.6rem;
    color: black;
    outline: none;
  }
}

.files {
  padding: 1rem;
  display: flex;
  .item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 10rem;
    .icon {
      font-size: 300%;
      align-self: center;
      padding-bottom: 0.5rem;
      color: $brand-primary;
    }
    .name {
      text-align: center;
    }
    .detail {
      text-align: center;
      opacity: 0.5;
      font-size: 70%;
      padding-top: 0.5rem;
    }
  }
}

.link {
  cursor: pointer;
}
